[submodule "color-zsh"]
	path = zsh/plugins/color
	url = https://yage.io/gizmos/color-zsh
	update = rebase
[submodule "z-navigator"]
	path = zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "latex-zsh"]
	path = zsh/plugins/latex
	url = https://yage.io/gizmos/latex-zsh
	update = rebase
[submodule "code-activator-zsh"]
	path = zsh/plugins/code-activator
	url = https://yage.io/gizmos/code-activator-zsh.git
	update = rebase
[submodule "ssh-zsh"]
	path = zsh/plugins/ssh
	url = https://yage.io/gizmos/ssh-zsh.git
[submodule "memo-zsh"]
	path = zsh/plugins/memo
	url = https://yage.io/gizmos/memo-zsh.git
