[submodule "color-zsh"]
	path = zsh/plugins/color
	url = https://yage.io/zsh/color
	update = rebase
[submodule "z-navigator"]
	path = zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "code-activator-zsh"]
	path = zsh/plugins/code-activator
	url = https://yage.io/zsh/code-activator
	update = rebase
[submodule "ssh-zsh"]
	path = zsh/plugins/ssh
	url = https://yage.io/zsh/ssh
[submodule "scwrypts"]
	path = zsh/plugins/scwrypts
	url = https://yage.io/wrynegade/scwrypts.git
	branch = main
